@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Roboto Slab Light'), local('RobotoSlab-Light'), url(https://fonts.gstatic.com/s/robotoslab/v9/BngRUXZYTXPIvIBgJJSb6u9mxLCGwRg.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'), url(https://fonts.gstatic.com/s/robotoslab/v9/BngRUXZYTXPIvIBgJJSb6u92w7CGwRg.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Source Serif Pro'), local('SourceSerifPro-Regular'), url(https://fonts.gstatic.com/s/sourceserifpro/v7/neIQzD-0qpwxpaWvjeD0X88SAOeauXQ-pQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Source Serif Pro Semibold'), local('SourceSerifPro-Semibold'), url(https://fonts.gstatic.com/s/sourceserifpro/v7/neIXzD-0qpwxpaWvjeD0X88SAOeasasatSyqwQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Source Serif Pro Bold'), local('SourceSerifPro-Bold'), url(https://fonts.gstatic.com/s/sourceserifpro/v7/neIXzD-0qpwxpaWvjeD0X88SAOeasc8btSyqwQ.ttf) format('truetype');
}
* {
  box-sizing: border-box;
  line-height: 1.6;
}
html {
  font-size: 62.5%;
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}
main {
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
  height: 100%;
  width: 100%;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Source Serif Pro', serif;
  font-weight: 700;
}
h1 {
  font-size: 3.5rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.5rem;
}
h4 {
  font-size: 2.1rem;
}
h5 {
  font-size: 1.8rem;
}
p,
span,
i,
b {
  font-size: 1.6rem;
  max-width: 60ch;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}
header {
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #00B3DEbf, #9a4dffbf), url(https://images.pexels.com/photos/2867895/pexels-photo-2867895.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) 100% / cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .landing-contianer {
  display: flex;
  justify-content: center;
}
header .landing-contianer h1 {
  font-size: 4.5rem;
  animation: scale 1s;
}
header .landing-contianer i {
  letter-spacing: 2.2px;
  font-size: 1.9rem;
}
header form {
  background: #8130302b;
  width: 550px;
  height: 70vh;
  display: flex;
  justify-content: space-between;
  align-items: inherit;
  flex-wrap: wrap;
  padding: 30px;
  border-radius: 30px;
}
header input {
  width: 48%;
  max-height: 50px;
  padding: 10px 0 10px 5px;
  border: none;
  margin: 5px 0;
  border: 2px solid transparent;
  background: SNOW;
  cursor: pointer;
}
header input:hover {
  border: 2px solid #007fcf;
}
header input:focus {
  outline: none;
}
header input[type="submit"] {
  transition: 0.5s ease;
  margin-top: 40px;
  background: #007fcf;
  border: 2px solid #007fcf;
  color: SNOW;
  box-shadow: 4px 4px 8px 0px #0000004d;
}
header input[type="submit"]:hover {
  background: transparent;
}
header textarea {
  resize: none;
  width: 100%;
  min-height: 250px;
  background: SNOW;
}
@keyframes scale {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
main {
  height: 100%;
  width: 100%;
}
