.show {
  opacity: 1 !important;
  z-index: 2 !important;
}
.hide {
  opacity: 0 !important;
  z-index: 1 !important;
}
#template-page {
  opacity: 0;
  height: 100%;
  width: 100%;
}
#template-page #templates {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.mini {
  width: 200px !important;
  height: 300px !important;
  border: 2px solid black !important;
}
.mini * {
  font-size: 0.2rem;
}
.mini img {
  height: 30px !important;
  width: 30px !important;
}
.orange-background {
  background: orange !important;
}
.orange-color {
  color: orange !important;
}
.orange-border {
  border-color: orange !important;
}
.purple-background {
  background: purple !important;
}
.purple-color {
  color: purple !important;
}
.purple-border {
  border-color: purple !important;
}
.turquoise-background {
  background: turquoise !important;
}
.turquoise-color {
  color: turquoise !important;
}
.turquoise-border {
  border-color: turquoise !important;
}
.template {
  height: 85%;
  width: 600px;
  overflow: hidden;
}
.template1 h3 {
  color: #0c4b6f;
}
.template1 h5 {
  color: #444;
  font-weight: 700;
}
.template1 p {
  color: #555;
}
.template1-banner {
  padding: 30px 0;
  background: #0c4b6f;
  display: flex;
  justify-content: center;
  align-items: center;
}
.template1-banner h1,
.template1-banner h3 {
  color: white;
}
.template1-banner p {
  color: #ffffffd9;
}
.template1-banner .template1-bar {
  width: 90%;
  border-bottom: 2px solid white;
  z-index: 1;
}
.template1-img {
  border: 5px solid white;
  border-radius: 50%;
  margin-right: 2%;
  z-index: 2;
  height: 150px;
  width: 150px;
}
.template1-body {
  display: flex;
  background: #e7e6e9;
  width: 100%;
  height: 100%;
}
.template1-body .template1-left {
  width: 34%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #0d4b6f;
  text-align: right;
}
.template1-body .template1-left div {
  width: 95%;
  padding-right: 5%;
}
.template1-body .template1-left .template1-expertise p {
  border-bottom: 1px solid #0d4b6f;
  padding-bottom: 5px;
}
.template1-body .template1-right {
  width: 66%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.template1-body .template1-right div {
  width: 95%;
  padding-left: 5%;
}
.template1-body .template1-right template1-job-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}
.template1-body .template1-right .template1-certification {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}
.template1-body .template1-right .skill-hobbies-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
