.show{
    opacity: 1 !important;
    z-index: 2 !important;
}
.hide{
    opacity:0 !important;
    z-index: 1 !important;
}

#template-page{
    opacity: 0;
    height: 100%;
    width: 100%;

    #templates{
        height: 100%;
        width: 100%;
        display: flex;
        flex-wrap:wrap;
        justify-content: space-around;
    }
}